body {
    background-color: #d3f1f1;
}
hr
{
    border-color: gray;
     border-style: none;
     border-top-style: dotted;
     border-width: 5px;
              width: 4%;
     height: 0px;
}
h1{
    color: #66BFBF;
    font-style: italic;
}
h3{
    color: #66BFBF;
    font-style: italic;
}
{
    font-style: italic;
}